<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.bpm.dao.msgcfg.ConditionTypeMapper">

	<resultMap id="BaseResultMap"
		type="com.yonyou.iuap.bpm.entity.msgcfg.ConditionTypeVO">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<collection property="operators"
			ofType="com.yonyou.iuap.bpm.entity.msgcfg.ConditionOperatorVO">
			<id column="id" property="id" jdbcType="VARCHAR" />
			<result column="conditontype_id" property="conditontype_id" jdbcType="VARCHAR" />
			<result column="operatecode" property="operatecode" jdbcType="VARCHAR" />
			<result column="operatename" property="operatename" jdbcType="VARCHAR" />
		</collection>
	</resultMap>
	
	<sql id="baseColumnList">
	t.code,o.conditontype_id,o.operatecode,o.operatename
    </sql>
	
    <select id="selectOperatorByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="baseColumnList"/>
        from iuap_bpm_conditontype t  right JOIN iuap_bpm_condoperator o on t.id=o.conditontype_id
        where t.code = #{code}
    </select>
	
</mapper>